<div >
  <div >
    <h4>Operations </h4>
    <mat-form-field appearance="fill">
        <mat-label>Select an operation type</mat-label>
        <mat-select [(value)]="operationType">
          <mat-option *ngFor="let operation of operations" [value]="operation.value">
            {{operation.viewedValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>


  <div *ngIf='operationType==0' class="container-fluid">
      <mat-tab-group>
        <mat-tab label="Estimated Parameter Properties (NAV)">
          <app-satellite-form [operationType] = "operations[operationType].viewedValue"></app-satellite-form>
          <app-gps-receiver-form></app-gps-receiver-form>
        </mat-tab>

      <mat-tab label="Kalman Filter Properties"> 
        Content 2
      </mat-tab>

      <mat-tab label="Measurements Properties (NAV)"> 
        Content 3 
      </mat-tab>
    </mat-tab-group>
  </div>

  <div *ngIf='operationType==1'>
    <mat-tab-group>
      <mat-tab label="Estimated Parameter Properties (NAV)">
        <app-satellite-form [operationType] = "operations[operationType].viewedValue"></app-satellite-form>
        <app-gps-receiver-form [operationType] = "operations[operationType].viewedValue"></app-gps-receiver-form>
      </mat-tab>
      <mat-tab label="Measurements Properties (NAV)"> 
        Content 2 
      </mat-tab>
      <mat-tab label="Batch Filter Properties"> 
        Content 3
      </mat-tab>

    </mat-tab-group>
  </div>

  <div *ngIf='operationType==2'>
    <mat-tab-group>
      <mat-tab label="Estimated Parameter Properties (RAN)">
        <app-satellite-form [operationType] = "operations[operationType].viewedValue"></app-satellite-form>
      </mat-tab>
      <mat-tab label="Kalman Filter Properties"> 
        Content 2
      </mat-tab>
  </mat-tab-group>
</div>

<div *ngIf='operationType==3'>
  <mat-tab-group>
    <mat-tab label="Estimated Parameter Properties (RAN)">
      <app-satellite-form [operationType] = "operations[operationType].viewedValue"></app-satellite-form>
    </mat-tab>
    <mat-tab label="Batch Filter Properties"> 
      Content 2
    </mat-tab>
</mat-tab-group>
</div>
</div>
