<div>
    <!-- <h3>
      <small>
        <a href="javascript:void(0)" (click)="start()">Start</a> |
        <a href="javascript:void(0)" (click)="stop()">Stop</a> |
      </small>
    </h3> -->
    <ngx-datatable
      #mydatatable
      class="material"
      [headerHeight]="50"
      [limit]="20"
      [columnMode]="'force'"
      [rowHeight]="50"
      [rows]="rows"
      [rowClass]="getRowClass"
      [scrollbarV]="'true'"
    >
      <ngx-datatable-column name="date" headerClass="header-class"></ngx-datatable-column>
      <ngx-datatable-column name="component"></ngx-datatable-column>
      <ngx-datatable-column name="level" headerClass="is-info" [cellClass]="getCellClass"></ngx-datatable-column>
      <ngx-datatable-column name="message"></ngx-datatable-column>
    </ngx-datatable>
  </div>