@import '~@angular/material/theming';

@include mat-core();

$default-theme-primary: mat-palette($mat-indigo);
$default-theme-accent:  mat-palette($mat-grey);
$default-theme: mat-light-theme($default-theme-primary, $default-theme-accent);
@include angular-material-theme($default-theme);

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

html {
    font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

.level-info {
  color: rgb(190, 194, 233);
  background-color: rgb(153, 201, 156);
}
.is-info {
  color: rgb(114, 207, 95);
  background-color: rgb(255, 174, 0);
}